@page
@model OnlineBankingApp.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "List of Customers";
}

<h1>List of Customers</h1>

<p>
    <a asp-page="Create">Create New Customer Account</a>
</p>

<table id="table" class="table">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Primary Email Addrress</th>
        <th>Phone</th>
    </tr>
</table>

@section Scripts {
    <script type="text/javascript">    

        $(document).ready(function() {
            @foreach (var item in Model.Customer) {
                <text>
                    var $tr = $('<tr>').append($('<td>').text(@Html.Raw(item.FirstName)));
                    $tr.append($('<td>').text(@Html.Raw(item.MiddleName)));
                    $tr.append($('<td>').text(@Html.Raw(item.LastName)));
                    $tr.append($('<td>').text(@Html.Raw(item.DateOfBirth)));
                    $tr.append($('<td>').text(@Html.Raw(item.Email)));
                    $tr.append($('<td>').text(@Html.Raw(item.Phone)));
                    $tr.appendTo('#table');
                </text>
            }
        });
        
    </script>
}