@page "{searchString?}"
@model OnlineBankingApp.Pages.Payees.IndexModel

@{
    ViewData["Title"] = "List of Payees";
}

<h1>List of Payees</h1>

<p>

</p>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payee[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payee[0].AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payee[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>
