@page "{searchString?}"
@model OnlineBankingApp.Pages.Loans.IndexModel
@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = "Index";
}

<h1>Loans</h1>

<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    @{
        if(Model.SearchString is not null){
            <h2>Your searched for @Model.SearchString returned @Model.Loan.Count results</h2>
        }
    }
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].PeriodInMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Loan) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodInMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @(new HtmlString(item.Note).Value)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ID">Approve Loan</a> |
        </td>
    </tr>
}
    </tbody>
</table>
